[2019-06-26 10:16] MarcusNoble opened #1 "Add support for Skipper ingress"
Currently only the Nginx ingress controller is supported. It'd be good to provide support for others, in this case Skipper.

## Possible Solution

Example manual ingress:

[code]

## Context

We're not using Nginx controller in our clusters so wouldn't be able to leverage this controller. Currently we're manually creating ingress resources using the above example.

## Your Environment

* What vers

[2019-06-26 14:51] alexellis commented on #1
Would you consider writing / submitting a patch?

[2019-06-26 14:55] alexellis commented on #1
I'm using cert-manager to provide the certificates at the moment. Do you know how Zalando's controller is being used at your company for TLS?

[2019-06-26 16:12] alexellis commented on #1
Hi @MarcusNoble,

I think I have this covered now if you'd like to try it out?

Alex

[2019-06-27 07:16] MarcusNoble commented on #1
Tested and can confirm it works great! 👍

Thank you :)

[2019-06-27 07:16] #1 closed

[2019-06-30 07:33] alexellis opened #6 "Add cert-manager support for Traefik"
## Expected Behaviour

Add cert-manager should be supported with Traefik

## Current Behaviour

Untested, it may be but I suspect it is not

## Possible Solution

Add these annotations:

[code]

As see here: https://www.cerenit.fr/blog/kubernetes-ovh-traefik-cert-manager-secrets/

## How to test
1. Get a cloud VM with Ubuntu 18.x - i.e. Civo or DigitalOcean
2. Install k3s via https://k3s.io
3. Ins

[2019-06-30 11:25] ajaegle commented on #6
I'll have a look at this. Still need to get familiar with OpenFaaS and operator development in general.

[2019-06-30 14:29] alexellis commented on #6
Let's consider the issue fair game until you have your environment set up and ready? When do you think you'll be able to start setting up?

[2019-06-30 17:19] ajaegle commented on #6
All right. I have openfaas running in a cluster with traefik and cert-manager and already have the gateway exposed using traefik with a cert-manager generated tls secret based on a manually deployed Certificate object. So http-01 challenge works as expected. Next up installing the ingress operator.

[2019-06-30 18:20] alexellis commented on #6
Perfect. Let's consider this issue as yours :+1:

[2019-06-30 22:45] ajaegle commented on #6
Thanks! Can you point me to some resources regarding namespacing? The ingress-operator has an env var `function_namespace`. I assumed this must match the `openfaas-fn` namespace where the functions are deployed. Is this only used to search for `FunctionIngress` objects which are assumed to be put to the main namespace (default`openfaas`)?

Still struggling with some permissions as with my current

[2019-06-30 23:04] ajaegle commented on #6
Extending the RBAC rules with (maybe too wide permissions) made the `ingress-operator` creating Certificate resources that are used by cert-manager.

[code]

I am a bit confused as I expected the ingress-operator to just create ingress resources that are labelled correctly which are then picked up by cert-manager watching those ingresses as described in https://docs.cert-manager.io/en/latest/tasks

[2019-07-01 07:24] alexellis commented on #6
The approach we have taken in [1] the OpenFaaS docs has the user create each Certificate, Issuer and Ingress resource. This was written in collaboration with @LucasRoesler @stefanprodan and myself.

[1] https://docs.openfaas.com/reference/ssl/kubernetes-with-cert-manager/#10-ssl-for-the-gateway

I don't think we've observed the `Certificate` object being created automatically in the past, perhaps

[2019-07-01 07:52] ajaegle commented on #6
(not fully verified): The ingress-operator logged issues creating Certificate objects when I deployed it as written in the docs. When I added the additional permission, the error was gone. According to the `OwnerReference` one is caused by an `Ingress` and the other one by a `FunctionIngress`.

Cert-Manager has two ways of integration, explicitly by `Certificate` resources and also by scanning `In

[2019-07-01 08:06] alexellis commented on #6
Did you change any code to get the two certificates?

The cert-manager version that is in the instructions is 0.7.0, are you using the same version?

[code]

[code]

I can confirm that I'm seeing `Ingress` create an additional certificate on its own

[code]

[2019-07-01 08:08] alexellis commented on #6
It seems like whatever is placed in `secretName` is being used as the key / object name for the `Certificate` that Ingress/cert-manager generates:

[code]

`nodeinfo-tls-certificate` is the one that the operator created.

[2019-07-01 08:24] ajaegle commented on #6
Exactly. Having the annotations on the ingress allows for immediate mode without creating a `Certificate` manually. So cert-manager picks up the ingress, creates a `Certificate` and links that to the secret name given in the ingress. Without the annotations, we still need the tls secret name to match the secret name provided in a manually (or automatically by openfaas ingress-controller) created `

[2019-07-01 08:27] alexellis commented on #6
Thank you 👍

Can we proceed as follows:

- Set "automatic TLS" ingress annotations
- Set any additional TLS annotations required for Traefik
- Remove cert-manager code and vendor dependencies
- Remove certificate from OpenFaaS docs for the gateway - this must tested e2e before I merge - https://github.com/openfaas/docs/issues/160

Anything else you would suggest? I'll look out for the PRs if you'd

[2019-07-01 16:04] alexellis commented on #6
@ajaegle WDYT?

[2019-07-01 22:41] ajaegle commented on #6
Without having looked deeper into the current implementation, your proposal sounds like a valid way to go.

One more thing we should think about (even not directly affected by that change): The current solution of having one FunctionIngress == one Domain == one Ingress == one Certificate works if people only deploy a few (not hundreds) of such FunctionIngresses due to Letsencrypt limitations. From

[2019-07-02 06:57] alexellis commented on #6
I'm not sure that wildcard certificate should be in scope for the initial release. They rely on DNS01 challenges which are much more complex for DNS beginners and rely on API keys and secrets. We use this with OpenFaaS Cloud and people struggle.

Unless you mean something else?

[2019-07-02 07:55] ajaegle commented on #6
Setting up letsencrypt with DNS challenges is _a bit_ more complex, but not that hard. But It's not only about cert-manager integration. If you have some hand-crafted wildcard cert (many enterprises do so), you should also be able to use that. And the way of doing so is by referencing a secret in the namespace, no matter how this got there.

I'm with you that it may be better to not expose all pos

[2019-07-03 07:21] alexellis commented on #6
@ajaegle do you want to run with this, or would it be better if I took the work?

[2019-07-05 09:40] ajaegle commented on #6
Sorry for my late reply. I'd like to take this, if I can take some time to get into it. If you want to get it done quickly, please do so.

[2019-07-05 20:09] alexellis commented on #6
Can you give me more of an idea on timing? It'll be almost a week ago that we opened it. I don't mind if you do several smaller PRs starting with removing the cert-manager code.

[2019-07-09 06:33] MarcusNoble commented on #6
I _think_ this is what's needed to cover this issue but not 100% sure as I don't use cert-manager. Either of you able to take a look before I open a PR for it?

https://github.com/openfaas-incubator/ingress-operator/commit/067ca8ac9bdfe85e36ec76f968b67a65a8ed6fd7

[2019-07-09 08:37] alexellis commented on #6
Thank you for looking at this

Please could you just go ahead and open the pr anyway.

[2019-07-09 11:08] alexellis commented on #6
@MarcusNoble @ajaegle I've gone ahead and done the patch to remove cert-manager, please can you test with the latest YAML files and tag 0.3.0?

[2019-07-09 11:10] alexellis commented on #6
@MarcusNoble your patch was close, we just needed to also re-vendor by removing cert-manager from `Gopkg.toml` and running `dep ensure`.

https://github.com/openfaas-incubator/ingress-operator/commit/0acd59ed916d5825b32f33d698280f7175ad1007

[2019-07-27 14:52] matipan opened #8 "Allow users to choose the kind of isser (ClusterIssuer or Issuer)"
We currently let the user choose the `kind` of cert-manager issuer, the two available options are `Issuer` and `ClusterIssuer`. However, we don't use the value of that field when we set the annotations.

## Expected Behaviour

I would expect that when I set the `kind` field inside `issuerRef` that change would be reflected on the ingress's annotations.

## Current Behaviour

We can set the `kind`

[2019-07-27 14:54] matipan commented on #8
Derek add label: good first issue

[2019-07-27 14:54] matipan commented on #8
Derek assign: me

[2019-07-27 14:55] matipan commented on #8
Maybe we don't have derek here 😆

[2019-07-29 10:36] affix commented on #8
I would also like this feature @matipan :)

[2019-08-11 17:34] affix commented on #8
Derek close

[2019-08-11 17:34] affix commented on #8
@alexellis we can close this now

[2019-08-11 17:35] alexellis commented on #8
Let's change the file for a redirect to the faas repo? https://github.com/openfaas-incubator/ingress-operator/blob/master/.DEREK.yml

[2019-08-11 17:37] alexellis commented on #8
Released in this version: https://github.com/openfaas-incubator/ingress-operator/releases/tag/0.3.1

[2019-08-11 17:37] #8 closed

[2019-08-11 17:37] alexellis commented on #8
Thank you all

[2019-08-22 11:08] LucasRoesler opened #10 "Rebuild and release with go 1.11.13 security patch"
Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update the docker build layers to at least Go 1.11.13

## Possible Solution

Because the docker build layers already use `golang:1.11` we should only need to rebuild and tag a new release to ensure that it is using the latest 1.11.13 base image

## Related
### Update Dockerfile and rebuild/r

[2019-08-22 14:32] alexellis commented on #10
/close: released as https://github.com/openfaas-incubator/ingress-operator/releases/tag/0.3.2

[2019-08-22 14:32] #10 closed

[2019-09-03 13:11] jonatasbaldin opened #11 "Add support to ExternalDNS"
## Expected Behaviour
It's still needed to manually create a DNS entry when using `FunctionIngress`. Implementing support to [ExternalDNS](https://github.com/kubernetes-incubator/external-dns) would allow `FunctionIngress` to create, delete and update DNS entries automatically.

## Current Behaviour
The need to create manually DNS entries each time a new `FunctionIngress` is deployed.

## Possible

[2019-09-06 14:46] alexellis commented on #11
I'm interested in this 👍

[2019-09-06 14:47] alexellis commented on #11
What would make sense in terms of configuration and the user-experience?

[2019-09-08 07:57] jonatasbaldin commented on #11
You could use external-dns annotations:

[code]

Or we could add our flag on `spec`, following the same pattern as `ingressType`:

[code]

What do you think?

[2019-09-08 08:02] alexellis commented on #11
The first example will work once #7 is merged, could you try that out and then we'll look at the demand for a custom annotation inside the `spec` after that, depending on demand from the users?

[2019-09-08 08:44] jonatasbaldin commented on #11
Wow, that's cool! Personally, I prefer the first one, but if there's demand for a custom flag we can implement it.

I'll test the `external-dns` and let you know.

As an another discussion (I can open another issue for that if necessary), since the annotations are being copied we could make the `FunctionIngress` more standard, like this:

[code]

What do you think?

[2019-09-08 09:26] jonatasbaldin opened #12 "Use default cert-manager annotations to manager certificates"
## Expected Behaviour
Instead of using the custom `spec.tls.*` definition to generate certificates we can use the default cert-manager annotations (`certmanager.k8s.io/issuer` or `certmanager.k8s.io/cluster-issuer`), since #7 was implemented.

## Current Behaviour
We need to use a custom `spec.tls.*` definition to enable the certificate creation.

Even though we are copying all the annotations to

[2019-09-08 09:42] jonatasbaldin opened #13 "Use default K8S ingress annotations"
## Expected Behaviour
Instead of using `spec.ingressType` to select an Ingress class, we should use the default annotation `kubernetes.io/ingress.class`, since #7 was implemented.

## Current Behaviour
In the version `0.4.0`, by the docs, we need to define the Ingress class using the `spec.ingressType` configuration.

BUT

After merging #7 we actually _don't need_ that. I tested two cases:

### Em

[2019-09-08 09:45] jonatasbaldin opened #14 "Document possible usage of ExternalDNS"
Since #7 was merged, we can use ExternalDNS to automatically create DNS entries for the `FunctionIngress`.

We could document this behaviour, including:
- How to setup ExternalDNS and linking to their documentation
- How to verify that the DNS was created

What do you think? Any more ideas on what do document?

[2019-09-08 09:45] jonatasbaldin commented on #14
Here's an example on how this works: https://gist.github.com/jonatasbaldin/17379c34d5cc20815933edaeb42311fa

[2019-09-08 10:43] alexellis commented on #12
I'm pretty sure that we are already using ingress shim. I know that because I'm not creating any Certificate objects in the controller anymore?

[2019-09-08 10:44] alexellis commented on #12
I prefer the TLS being in the Spec, this is to abstract away the gritty details from users

[2019-09-08 10:45] alexellis commented on #14
Did it work? I can't access it from here

[2019-09-08 10:46] alexellis commented on #14
Documenting the annotations would be useful.

[2019-09-08 11:33] jonatasbaldin commented on #14
It did work, I just removed after my testing heh

By default there are no annotations, it depends on the ExternalDNS configuration. It could manage DNS for Ingresses, Services etc.

We could document how it to use it with the default ExternalDNS and point to their documentations if the user wants to have something more specific. What do you think

[2019-09-08 11:45] jonatasbaldin commented on #12
I proposed this because I think that the way it works today has some drawbacks:

- Custom flag to enable TLS. We could strive to have the same behaviour as an Ingress to reduce friction and to rely on annotations already known by the community.

For me, having this YAML:
[code]

Looks better than this:
[code]

- We are forcing the `http01` challenge, as defined [here](https://github.com/openfaas-i

[2019-09-10 13:38] alexellis commented on #13
Thanks for your suggestion.

I have mixed feelings about this.

[2019-09-10 13:38] alexellis commented on #13
What do you think about using both sources and having a priority to use the spec? 🤷‍♂

[2019-10-31 15:32] alexellis opened #15 "Provide multi-arch build"
## Description

This controller is a good candidate for a multi-arch build given that it's built as a static binary.

[2020-01-12 20:36] andrew-s opened #18 "Customise Host Path"
When defining the `FunctionIngress` you should be able to customise the host path, e.g. in a RESTful API you may want to map functions more logically (or if you were porting an existing application).

## Expected Behaviour
Path maps and routes correctly

## Current Behaviour
`FunctionIngress` only ever maps to `/(.*)` for each domain specified

## Possible Solution
Currently, the generated ingress

[2020-01-14 10:00] alexellis opened #19 "[Feature] Gateway bypass"
## Expected Behaviour

This feature would allow an Ingress record to be created that bypasses the gateway, so that an endpoint can be accessed with absolute minimal latency, by removing an additional hop.

## Caveats

Today the IngressOperator, FNI definitions are created in the `openfaas` namespace which causes an Ingress record to be created in the `openfaas` namespace pointing at the gateway, w

[2020-01-14 10:52] alexellis commented on #18
@andrew-s are you able to create 2x of the Ingress definition you have there, but with different paths? i.e `/v1/profiles/view/(.*)` and `/v1/accounts/view/(.*)` mapping both to `api.example.dev`?

[2020-01-14 11:43] #18 closed

[2020-01-19 15:36] makkus commented on #12
Agree with @jonatasbaldin , I use a wildcard certificate for my ingresses, and it seems that is not directly supported by this operator.

I might be wrong though, or not the target audience for this operator? Is it recommended to create my own (non-Function) ingress resources for my use-case?

[2020-01-19 20:26] alexellis commented on #12
@makkus as you noted, support for the HTTP01 challenge is already available, if you need the DNS01 challenge then feel free to open an issue to propose it.

[2020-01-19 22:19] makkus commented on #12
@alexellis thanks. I don't really need the DNS01 challenge, as I'm re-using the same wild-card certificate for every one of my ingresses. It kinda works for me at the moment, because I configured nginx-ingress to use it as the default certificate. I can't access my logs at the moment, but if I remember right then it tries to get the secret that this operator should have configured, but couldn't, a

[2020-01-24 14:33] alexellis opened #21 "Test multiple paths for the same host"
## Task

Test multiple paths for the same host

i.e. two function ingress entries as per the new feature in #20, but with the same domain and differing paths.

I.e. can we write two FunctionIngress records that would serve two separate back-end functions from the same sub-domain and TLS cert:

api.dx.no/v1/customers
api.dx.no/v1/tickets

[code]

[2020-01-24 14:35] alexellis commented on #21
/assign: Waterdrips

[2020-01-27 12:34] alexellis commented on #21
These were my target URLs:

[code]

My stack.yml

[code]

My FNI:

[code]

It all worked as expected.

[2020-01-27 12:34] #21 closed

[2020-02-05 12:29] #15 closed

[2020-02-05 12:30] alexellis commented on #12
@makkus what would it look like if we implemented what you needed?

I need a bit more info from you please, because I don't seem to be seeing the full picture.

Thanks 👍

[2020-02-05 22:33] makkus commented on #12
Sure, I hope I remember the details right, the setup I used 2 weeks ago is gone and I'll re-build it again next week or so...

Basically, (the tls-specific parts of) my 'normal' ingresses look like this:

[code]
This is an internal network that can't be reached from the internet, but because I'm using the dns challenge and the dns server pointing to the internal address I'm still getting a valid L

[2020-02-11 10:32] #19 closed

[2020-03-02 16:36] paul931224 opened #25 "kubectl apply artifacts/operator-amd64.yaml"
## Expected Behaviour

It should deploy the operator

## Current Behaviour

The deployment never gets ready, CrashLoopBack on pod

## Possible Solution

Modify ingress-operator/artifacts/operator-amd64.yaml

command:
          - ./ingress-operator
          - -logtostderr
          - -v=2

remove --v=2
After that it worked for me.

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your

[2020-03-02 16:40] paul931224 opened #26 "kubectl apply artifacts/operator-rbac.yaml"
## Expected Behaviour

It should deploy artifacts/operator-rbac.yaml

## Current Behaviour

It deploys, but `kubectl logs ` come back with
```Failed to list *v1beta1.Ingress: ingresses.networking.k8s.io is forbidden: User "system:serviceaccount:openfaas:ingress-operator" cannot list resource "ingresses" in API group "networking.k8s.io" in the namespace "openfaas"```

## Possible Solution

modify a

[2020-03-02 17:18] alexellis commented on #26
Fixed by: 0f12b7b

[2020-03-02 17:18] #26 closed

[2020-03-02 17:18] alexellis commented on #25
Fixed by: 0f12b7b

[2020-03-02 17:18] #25 closed

[2020-05-15 07:38] alexellis opened #27 "Prepare for Kubernetes 1.8 Ingress changes"
In Kubernetes 1.18 the Ingress definitions have changed slightly.

In particular the Kubernetes release notes [1] mention the change about ingressClass becoming part of the spec, instead of being an annotation.

If we can add both, perhaps that will help keep backwards compatibility for the time being?

[1] https://kubernetes.io/docs/setup/release/notes/#extending-ingress-with-and-replacing-a-depr

[2020-05-17 16:25] aledbf commented on #27
Keep in mind you need to create an ingressClass object and configure the ingress controller to use it.

[2020-05-17 16:36] alexellis commented on #27
That is something that I missed, until I did a deep dive on the release notes.

So does ingress-nginx create this or not? How about others like Traefik v2?

[2020-05-17 16:42] aledbf commented on #27
No. That is up to the operator. The IngressClass is a global resource and most of the users (at least in ingress-nginx) don't have enough permissions for that.

https://github.com/kubernetes/ingress-nginx/pull/5410

[2020-05-17 16:45] alexellis commented on #27
I'm feeling fairly confused by this, so I imagine most users will be in a world of pain. The annotation was "soft" deprecated in favour of the new ingressClass, but if the IngressController or its helm package doesn't create it, how are we expected to know what to do?

The reason I raised the issue was for this component to be compatible with K8s 1.18. What would you do in this situation @aledbf ?

[2020-05-17 16:49] aledbf commented on #27
Please check kubernetes/ingress-nginx#5410

We keep using the same flag in the ingress controller deployment --ingress-class
This means we don't break existing ingress definition using the ingress.class annotation.
If you are using k8s v1.18 and want to use the IngressClassName field you need to create an IngressClass object with the same name used in `--ingress-class`.

[2020-05-17 16:52] robscott commented on #27
I do think the ideal is for users to create and manage IngressClass resources. The ideal use case would be configuring classes with different combinations of parameters to be used with the same controller. Admittedly not every controller is going to support a parameters resource, but I think a parameters CRD with appropriate validation provides significant advantages over annotations. Hopefully th

[2020-05-28 11:31] Janaka-Steph opened #28 "Nginx Ingress Annotations Not Applied"
Adding `nginx.ingress.kubernetes.io/from-to-www-redirect: "true"` annotations to FunctionIngress resources has no effect.

## Context
My function is a website that uses the dockerfile template and is served with Nginx. I am wondering if this Nginx is causing the annotation to not be applied

## Expected Behaviour
Expect annotations to be applied.

## Steps to Reproduce (for bugs)
Adding `from-to-w

[2020-05-28 11:36] alexellis commented on #28
Hi @Janaka-Steph thank you for putting together a detailed report. This is much appreciated.

Would you be willing to work on a patch for this?

Regards,

Alex

[2020-05-28 11:37] alexellis commented on #28
I would probably suggest you use an alternative to `rewrite-target`, perhaps what you shared on Slack? The reason for this is that we do set specific rules for URL re-writing according to the way the FunctionIngress has been created.

[2020-05-28 11:52] Janaka-Steph commented on #28
Ok I have modified the issue, sorry for the confusion. Hope it is clear now.
I would love to be able to contribute and patch it but I don't think my skills are good enough. :/

[2020-05-28 13:14] aledbf commented on #28
@Janaka-Steph please post the ingress yaml. What are you trying to do?

This annotation only creates a new server block with a redirect. If the ingress host is www.foo.bar, it will create a server block with `server_name foo.bar` and any request to this host triggers a redirect to `www.foo.bar`

[2020-05-28 13:28] Janaka-Steph commented on #28
@aledbf Thanks for the quick reply. I am hosting a website, which works well except I just need to redirect to www.

The ingress has been posted in the issue, but I here is to whole file. Or are you referring to an other file?
[code]

[2020-05-28 13:48] alexellis commented on #28
Post the `Ingress` YAML that was generated for you - that's the language @aledbf will be more used to seeing. FunctionIngress is just a wrapper on that.

[2020-05-28 14:02] alexellis commented on #28
I created a fix for this in #29, but the code is already present @Janaka-Steph - I imagine that you're doing something wrong, because there are unit tests which show that custom annotations of the FNI are copied to the Ingress record?

[2020-05-28 14:44] #28 closed

[2020-05-28 16:35] Janaka-Steph commented on #28
After more digging, I think that even though we can see the annotation with `kubectl describe functioningress.openfaas.com/example -n openfaas` and `kubectl describe ing -n openfaas `, I can't see any server block with redirect in nginx.conf.
I check the nginx.conf with `$ kubectl -n default exec ingress-nginx-controller-5b4bf5bc7b-9ptxm -- cat /etc/nginx/nginx.conf`
Please reopen the issue.

[2020-05-28 16:39] alexellis commented on #28
There's no need to reopen the issue in my opinion since the **annotation is being applied** to the Ingress definition being created. Whether or not that annotation does what you expect is another matter. Have I missed something?

[2020-05-28 16:47] Janaka-Steph commented on #28
I don't follow you. Maybe I should open an issue on Nginx-Ingress then?
But the goal is to have the annotation actually creating the proper config obviously.

[2020-05-28 17:16] alexellis commented on #28
The issue was "my custom annotation from the FunctionIngress wasn't inserted on my ingress record" - it turns out that _it was_ and I mistakenly created a patch, even when it was working and the behaviour was already present. That's my bad.

Now if we are outputting the correct annotation (and we are, that's been confirmed now) on the Ingress record, then you need to take it up with the ingress-ng

[2020-06-15 04:05] matoszz commented on #27
There needs to be more instructions provided for folks running multiple controllers; having a basic definition with `controller: "k8s.io/ingress-nginx"` makes it unclear if you need to name specific to the actual controller deployment or service

[2020-06-18 11:54] aleks-fofanov opened #30 "[Bug] Traefik annotations don't work for any paths (except root for old Traefik versions)"
## Expected Behaviour

All traffic destined to a domain correctly forwarded to a function regardless of the path requested.

## Current Behaviour

Depending on installed version of the Traefik, you may observe different behaviors.

If your Traefik version is **below v1.7.21**, then your function will receive incorrect (duplicated) path, e.g. `nodeinfo.example.com/version` will be forwarded to `gat

[2020-06-18 12:03] alexellis commented on #30
Thanks for looking into this and for providing detailed instructions 👍

[2020-06-18 12:15] alexellis commented on #30
I've commented on the PR, where we'd usually have the test outputs too.

[2020-06-18 14:22] alexellis opened #32 "The Path field from FunctionIngress' Spec is missing from the YAML CRD"
## Expected Behaviour

The YAML spec file should contain a field for Path for validation, it's missing.

## Current Behaviour

The Path field from FunctionIngress' Spec is missing from the YAML CRD

## Possible Solution

Add it, or regenerate the spec.

## Steps to Reproduce (for bugs)

There is no bug, it still works, but it's better to have the schema correct.

Reported in #31

[2020-06-18 14:24] #32 closed

[2020-06-18 14:54] #30 closed

[2020-10-31 13:59] alexellis opened #34 "Create cert using domain instead of function name"
Create cert using domain instead of function name

## Expected Behaviour

If we have three FunctionIngress entries all on the same domain but with differing paths, we should create 1 cert only.

## Current Behaviour

Three get created since the "name" is the function's name instead of the domain name.

## Possible Solution

Create cert using domain instead of function name. This will need a change

[2020-10-31 16:39] LucasRoesler opened #36 "Readme instructions for nginx ingress fail with helm3"
The current instructions in the readme https://github.com/openfaas-incubator/ingress-operator#ingresscontroller-nginx

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Update the helm install instructions, we should also update which repo it is using.

## Your Environment

[code]

[2020-10-31 16:57] LucasRoesler opened #37 "Update readme and examples to show path is required"
## Expected Behaviour

[code]

## Current Behaviour

[code]

## Possible Solution

Add `path: "/"` to each of the examples and remove the comment in the Readme that `path` is optional https://github.com/openfaas-incubator/ingress-operator#schema

## Context

Trying to test my last PR by using the example files

[2020-10-31 19:49] alexellis commented on #37
This is regression in the generated CRD, it should still be optional. I had similar in the Inlets Operator but found a way to fix it with labels for the CRD generator.

https://github.com/inlets/inlets-operator/blob/master/pkg/apis/inletsoperator/v1alpha1/types.go

It might have just been adding // +optional

[2020-11-01 10:26] LucasRoesler commented on #37
The spec hasn't changed in months, so I am not sure it was ever actually optional

[2020-11-01 11:24] #34 closed

[2020-11-01 11:34] alexellis commented on #37
It's not the spec, but the CRD - the CRD is now generated rather than hand-crafted, that's why it's differing.

Here is where it changed -> https://github.com/openfaas-incubator/ingress-operator/commit/1ce6cda629d9bca360de899e7bda4897d2a403cc

[2020-11-02 08:15] #37 closed

[2020-11-02 14:45] goncalo-oliveira commented on #12
I agree that the annotations look simpler and more compliant. I can also understand @alexellis point of view, though as a personal preference I would rather add a one line annotation than the custom tls section. Maybe a compromise would be to allow both? :)

[2020-11-02 15:04] alexellis commented on #12
As far as I'm aware both are permissable. What happened when you tried?

[2020-11-02 15:09] goncalo-oliveira opened #39 "Sync created resources upon edit of CustomResource"
## Expected Behaviour
When adding/updating annotations to the `FunctionIngress`, these should be added/updated on the underlying `Ingress`.

## Current Behaviour
If the `FunctionIngress` and the underlying `Ingress` already exist, changes to the `FunctionIngress` annotations aren't passed to the underlying `Ingress`.

## Possible Solution
There's probably a validation on whether the ingress alread

[2020-11-02 15:25] goncalo-oliveira commented on #12
[code]

Without the TLS section, the certificate isn't created.

[2020-11-17 09:25] alexellis commented on #39
This can be worked around easily by deleting and re-creating the FunctionIngress record, or editing the Ingress directly.

Would you be willing to work on a PR in the meantime?

[2020-11-17 09:26] alexellis commented on #39
/add label: good first issue, help wanted

[2020-11-17 09:28] alexellis commented on #39
/set title: Sync created resources upon edit of CustomResource

[2020-11-17 10:49] alexellis commented on #39
Having another look at this, it seems that we already have support for this in the code?

Are you on the latest version of the build?

[2020-11-17 10:51] alexellis commented on #39
https://github.com/openfaas/ingress-operator/blob/master/pkg/controller/controller.go#L308

[2020-11-17 10:52] alexellis commented on #39
It seems like we only synchronise the spec, and not annotations. That is probably a deliberate design decision due to the way Kubernetes adds automated annotations to some objects.

[2020-11-17 11:17] #39 closed

[2020-11-17 12:05] alexellis opened #41 "Convert CI to GitHub Actions"
## Expected Behaviour

Convert CI to GitHub Actions

## Current Behaviour

We use Travis and need to move away

## Possible Solution

See the approach in https://github.com/openfaas/faas-netes/tree/master/.github

[2020-11-17 12:05] alexellis commented on #41
/add label: good first issue,help wanted

[2020-11-17 12:10] developer-guy commented on #41
I am a volunteer for doing this issue.

[2020-11-17 13:09] alexellis commented on #41
Thank you

[2020-11-21 01:18] kvecchione commented on #13
I think it would be nice to separate out the ingressType (how rewrites are handled) from the ingressClass which should feed the actual kubernetes.io/ingress.class annotation. In my case I have 2 ingress classes, internal and external, which are both actually nginx behind the scenes. Since the ingressClass != "nginx", I don't get the nginx rewrite annotation so it ends up routing me to the gateway.

[2021-03-17 15:48] alexellis commented on #41
We still need a PR for this. It should match closely to the GitHub action from faas-netes or faas.

[2021-03-17 15:49] alexellis commented on #36
@LucasRoesler did this get fixed?

[2021-03-18 11:40] LucasRoesler commented on #36
@alexellis  No, the instruction still fails.

These instructions have not been modified since the issue was opened https://github.com/openfaas/ingress-operator/blame/master/README.md#L93

[2021-04-24 15:19] ionutz89 opened #45 "[FEATURE REQUEST] wildcard domain on Ingress Operator - use case"
It will be useful if we can pass on the ingress operator the `secretName` on `config.yaml`.

At the moment it only creates a new cert from cert issuer like the `cert-manager` provider.

We have a case where we are using only wildcard domain and we have to edit manually each Ingress to use the same `secretName` like an example below.

[code]

If it is a workaround like to automate this bit, it will

[2021-06-06 10:49] irbekrm opened #46 "Update cert-manager API version in README"
`v1alpha2` `cert-manager` API referred to in the README [is getting deprecated](https://github.com/jetstack/cert-manager/pull/4021).

## Possible Solution

Update the example configs to use the latest `v1` API.

[2021-06-08 08:25] alexellis commented on #46
Hi @irbekrm thank you for your interest in the project.

Whilst we appreciate the issue, you do need to fill out every field of the issue template. They are not optional.

https://raw.githubusercontent.com/openfaas/ingress-operator/master/.github/ISSUE_TEMPLATE.md

Thanks again.

Alex

[2021-06-28 16:48] HighCrit opened #48 "Function not invokable at specified path; returns 404 (nginx)"
## Expected Behaviour
The function deployed in the steps below should be invokable at `http://example.kube/api/v1/test/`.

## Current Behaviour
The function deployed is not reachable at `http://example.kube/api/v1/test/` but rather a 404 (by Nginx) is returned. Visiting `http://example.kube/api/v1/test/(.*)` also returns a 404 (OpenFaaS). While the function works as intended at `http://gw.example.

[2021-07-06 10:25] alexellis commented on #48
/msg: enduser

[2021-07-10 14:23] LucasRoesler commented on #48
@HighCrit and @alexellis  I could not reproduce this.

I had to modify the instructions a little bit to work in `kind`, but this is the process i used which shows a working function ingress:

---

Create the file `cluster.yaml`

[code]

This configures `kind` to bind the ports `80:80`, `443:443`, and `31112:8080`. Which makes the ingress available on localhost an the gateway available on 8080 (the

[2021-07-10 15:35] HighCrit commented on #48
Thank you for your time @LucasRoesler, I started with a clean cluster again and re-ran the script.
[code]
[code]
Here is the log of the nginx controller for both requests:
[code]

[2021-07-11 14:04] LucasRoesler commented on #48
@HighCrit can you share the portion of the logs your truncated? it should say something about trying to configure nginx in response to the ingress definition

it is clearly misconfigured, because nginx is trying to respond to the request as if it were a static folder and not an upstream server, that is clear from this line in the logs

[code]

The truncated portion might be helpful to understand w

[2021-07-11 14:06] LucasRoesler commented on #48
@HighCrit your original script showed using helm to install nginx-ingress. The nginx-ingress team provide a Docker for Desktop specific manifest file that will probably resolve this issue for you https://kubernetes.github.io/ingress-nginx/deploy/#docker-desktop

[2021-07-11 20:33] HighCrit commented on #48
@LucasRoesler when using the Docker Desktop specific manifest instead of helm the issue appears to be fixed. Although I find it strange that the helm chart doesn't work as it otherwise operates as expected.

Here is the entire log of the nginx controller (when using helm):
[code]

[2021-07-12 10:28] LucasRoesler commented on #48
@HighCrit thanks for trying it. Clearly there is some important difference between KinD and other clusters like GKE, or at least some important differences in the most recent nginx-ingress helm chart. I know i have used it with kind in the past, but not recently.

I think we can safely close this for now.

[2021-07-12 10:36] HighCrit commented on #48
@LucasRoesler thank you for all the help!

[2021-07-12 10:36] #48 closed

[2021-07-12 14:27] alexellis commented on #48
Just wondered if @justincormack had time to comment here. It seems like the chart for ingress-nginx doesn't work as expected on Docker Desktop, but a static manifest does?

[2021-07-14 16:38] alexellis opened #49 "Update to latest API group for Ingress to support K8s 1.22+"
## Expected Behaviour

K8s < 1.22 and > 1.22 should work without changes.

## Current Behaviour

Only < 1.22 is supported due to the API group being used going away.

## List All Possible Solutions and Workarounds

Have an if statement based upon the kube API server version returned.

## Steps to Reproduce (for bugs)

1. Create a new cluster with minikube or kind using 1.22
2. Deploy
3. Try to cre

[2021-07-14 16:39] alexellis commented on #49
/add label: help wanted,good first issue

[2021-07-14 17:08] miguelhrocha commented on #49
I can take care of this @alexellis

[2021-07-15 08:12] alexellis commented on #49
I'll look out for a PR @miguelhrocha - but If we don't see one within a week, or when users start having issues, we may need to jump in.

Let me know what kind of timeline you have in mind?

[2021-07-26 08:07] alexellis commented on #49
@LucasRoesler it seems we've had no motion on this and missed the release date, so could you put this onto your list, or find someone else to take up the task?

I liked the way you solved the problem for arkade by checking the capabilities of the API server instead of looking purely at the K8s API version.

[2021-07-27 17:58] LucasRoesler commented on #49
@alexellis  can you clarify the scope you are expecting on this? I just looked at it and it seems like you are talking about adding an `if`-statement to the Controller so that it can work  with both the new `networking/v1` and with the `betav1` apis at the same time. This is _not_ a trivial change, those return types are different, so every spot of the code that in anyway interacts, watches, or cr

[2021-07-28 06:39] alexellis commented on #49
The dependencies can be updated to 1.19

But if we don't have the if statement, then we will prevent people using Kubernetes 1.18 and lower from using this component.

A bit of context from the ingress-nginx project:

https://github.com/kubernetes/ingress-nginx/pull/7156

[2021-07-28 07:30] LucasRoesler commented on #49
@alexellis i am not willing to personally take on support for this, i totally understand that it means dropping support for k8s < 1.19, but this project is often used _with_ nginx-ingress has already done this, so my initial feeling is that unless you see significant new features coming to ingress-operator, it is easier to feeze support for k8s < 1.19 with ingress-operator <= 0.6.7.

At install, w

[2021-07-28 15:39] alexellis commented on #49
Minimum supported versions:

GKE = 1.17
AWS EKS = 1.16

What to do?

[2021-08-18 11:05] #49 closed

[2021-08-25 15:14] #41 closed

[2021-08-25 15:15] alexellis opened #52 "Fix badge for CI status"
## Expected Behaviour

The badge in the readme should reflect the status of the CI build for this project

## Current Behaviour

It shows the status of a Travis build which is unknown

## List All Possible Solutions and Workarounds

Update with the GitHub Actions generated badge

[2021-10-18 01:12] harichards opened #55 "How do I get the full path for a REST-style function?"
If I have created a function ingress resource like so:

[code]

How would I retrieve the `(.*)` part of the path from within the function handler? I am using the `golang-http` template btw.

[2021-10-18 09:53] alexellis commented on #55
Hi @harichards you'll need to fill out the whole issue template here including all steps to reproduce your setup. I would suggest you create a public GitHub repo.

https://raw.githubusercontent.com/openfaas/ingress-operator/master/.github/ISSUE_TEMPLATE.md

Alex

[2021-10-18 15:44] harichards commented on #55
## Expected Behaviour

Given a function using the `golang-middleware` template:
[code]
a function ingress Kubernetes resource:
[code]
and invoking the function handler like so:
[code]
expected the following output:
[code]
## Current Behaviour

Instead, I get the following output:
[code]
## Are you a GitHub Sponsor (Yes/No?)

Check at: https://github.com/sponsors/openfaas
- [ ] Yes
- [x] No

## Lis

[2021-10-18 22:44] #55 closed

[2021-10-19 08:39] alexellis commented on #55
It's unusual to get the entire path for any API or router, think of how express.js works for instance. You tend to get the path where it's mounted.

What's the use-case here, given that you know how you've deployed your function, you're also aware of where it's mounted? And if not, can use an environment variable to decide.

[2022-08-05 15:21] alexellis opened #57 "Update CI and Dockerfile to use Go 1.18"
## Expected Behaviour

Update CI and Dockerfile to use Go 1.18

## Current Behaviour

Still using Go 1.16 to build this project

https://github.com/openfaas/ingress-operator/blob/master/go.mod#L3
https://github.com/openfaas/ingress-operator/blob/master/Dockerfile
https://github.com/openfaas/ingress-operator/tree/master/.github/workflows

[2022-08-05 15:23] alexellis opened #58 "Migrate from scratch to distroless"
## Expected Behaviour

We could use Google's distroless container image for the runtime for this operator

## Current Behaviour

It's using scratch and then we manually copy in things like certs and user files.

See also: https://github.com/alexellis/registry-creds/blob/master/Dockerfile#L28